/* Global */

*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Inconsolata', monospace;
    color: #c56cf0;
    text-align: center;
}

.container {
    max-width: 1140px;
    padding: 10px 10px;
    margin: 15px auto;
}

/* header */

#logo img {
	border-radius: 20%;
	border: 2px solid #c56cf0;
}

.navi ul {
    list-style: none;
    margin: 0 auto;
	text-transform: uppercase;
}


li {
    display: inline-block;
	margin: 30px auto;
	float: left;
}

.nav {
    float:right;
    margin: 50px 10px 0 10px;

}

.nav a {
    color: #3d3d3d;
    text-decoration: none;
    font-size: 20px;
	font-weight: 600;
	background-color: #ffcccc;
	border: solid 0.7px;
	border-radius: 20px 20px 32px 32px;
	padding: 10px;
}

a:hover {
    color: #32ff7e;
    transition: all 0.3s;
}

.splash-inner {
	text-align:center;
    left:50%;
    top:50%;
    right:auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding-top:0;
    padding-bottom:0;
    position: absolute;
    margin: 30px auto;
}

.splash-inner h3 {
	width: 550px;
}

header {
	background-image: url(https://i.postimg.cc/sX1Rpx9y/pexels-elina-fairytale-3822864.jpg);
	height: 95vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 30px auto 0 auto;
    padding: 10px;
    border-radius: 32px 32px 20px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: solid 1px;
    background-color: #ffcccc;
    background-position: 100% 0;
    background-size: 300%;
    color: #3d3d3d;
}


/* services */

.info, .row {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: auto;
}

.services ul {
    padding: 0 20px 0px 20px;
}

.info li {
    flex: 0 0 33.333%;
    list-style-type: none;
    margin: 0;
    text-align: center;
	text-transform: lowercase;
}

.element-title {
    color: #ff9f1a;
    font-size: 34px;
	text-transform: uppercase;
	height: 95.2px;
	font-size: 28px;    
}

.element-content {
    padding: 0 30px;
	color: #cd84f1;
    font-size: 22px;
}

.info-element i {
    color:#DAA520;
    border: solid 2px #DAA520;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 30px;
}

/* portfolio */

.portfolio {
	background-color: #80808033;
	padding: 0 50px;
}

.portfolio row {
	padding: 0 20px;
}

.card img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	flex: 3;
}

.card {
    margin: 0 0 30px 0;
    padding: 0 10px;
    display: block;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
	flex: 0 0 33.333%;
}

.card-body {
	background: white;
	margin: 0;
	padding: 0;
	flex: 9;
}

h5, h6 {
	margin: 10px;
}

/* footer */

footer {
	display: inline-flex;
	flex-direction: row;
}

.copyright {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
    height: 20px;
	margin: 0 0 0 300px;
}

footer ul {
    text-align: center
	flex: 1;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

footer ul li {
	display: inline-block;
	font-size: 0;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

footer ul li i {
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #050505;
	background-color: white;
	border: none;
 }
